<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <section class="presentacion">
        <div class="imagen">

        </div>
        <div class="introduccion">
            <div class="miNombre">
                <h2>Guido Stéfano Falco</h2>
            </div>
            <div class="misCapacidades"><p class="capacidades">Desarrollo Web FullStack</p>
                <ul>
                    <li class="frameworks" style="list-style: circle;">ASP .NET</li>
                    <li class="frameworks" style="list-style: circle;">Angular</li>
                    <li class="frameworks" style="list-style: circle;">Django</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="redes">
        <a>
            <i class="fa-brands fa-linkedin"></i>

            <div class="">LinkedIn</div>
        </a>
        <a href="">
            <i class="fa-brands fa-github"></i>
            <div class="">GitHub</div>
        </a>
        <a href="">
            <i class="fa-brands fa-instagram"></i>
            <div class="">Instagram</div>
        </a>
    </section>

    <section class="caracteristicas">
        <div class="titulo">
            <p>¿Sobre mí?</p>
        </div>
        <div class="introduccion">
            <p>Me fascina lograr grandes cosas con la tecnologia aprovechando cada recurso novedoso que sale a la luz, soy amante de la creatividad, me gustan los desafios, y entretenerme creando cualquier cosa que tenga relación tecnologica.</p>
        </div>
    </section>
    <section class="proyectos">
        <div class="titulo">
            <p>Proyectos</p>
        </div>
        <hr>
        <div class="proyectos">
            <div class="proyecto proyecto1">
                <span><a href="https://github.com/GuidoSFalco/ChatOnline">ChatOnline</a></span>
                <div class="explicacion">
                    <p>Sitio web en el que puedes iniciar conversaciones con otras personas al estilo Twitter, con un apartado donde se ubicarán todas las temáticas, un apartado para la conversación y otro para iniciar una nueva conversación</p>
                </div>
            </div>
            <div class="proyecto proyecto2">
                <span><a href="https://github.com/GuidoSFalco/HerramientasDeProgramador">Herramientas de programador</a></span>
                <div class="explicacion">
                    <p>Sitio web en el que encontrarás todas las herramientas que necesita un programador para hacer sus trabajos con mayor eficiencia, tambien cuenta con un algoritmo de filtro.</p>
                </div>
            </div>
            <div class="proyecto proyecto3">
                <span><a href="https://github.com/GuidoSFalco/CodigoMorse">Aprender Codigo Morse</a></span>
                <div class="explicacion">
                    <p>Sitio web en el que puedes aprender Codigo Morse de forma fácil y a tu propio ritmo, puedes ver las probabilidades de acierto en tus traducciones y cambiar la traducción de Morse a texto, o texto a Morse, e incluir tanto alfabeto, números y símbolos.</p>
                </div>
            </div>
        </div>
        <div class="aclaracion">
            <p>Estos son algunos de mis proyectos mas grandes.</p>
        </div>
    </section>

</body>
</html>