<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <section class="presentacion">
        <div class="imagen">

        </div>
        <div class="introduccion">
            <div class="miNombre">
                <h2>Guido Stéfano Falco</h2>
            </div>
            <div class="misCapacidades"><p class="capacidades">Desarrollo Web FullStack</p>
                <ul>
                    <li class="frameworks" style="list-style: circle;">ASP .NET</li>
                    <li class="frameworks" style="list-style: circle;">Angular</li>
                    <li class="frameworks" style="list-style: circle;">Django</li>
                </ul>
                <a style="float: right;" href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="caracteristicas">
        <div class="titulo">
            <p>¿Sobre mí?</p>
        </div>
        <div class="introduccion">
            <p>Me fascina lograr grandes cosas con la tecnologia aprovechando cada recurso novedoso que sale a la luz, soy amante de la creatividad, me gustan los desafios, y entretenerme creando cualquier cosa que tenga relación tecnologica.</p>
        </div>
    </section>
    <section class="proyectos">

    </section>
</body>
</html>